<div class="col-md-9">
     <div class="panel panel-default room" ng-controller="RoomCtrl">
         <div class="panel-heading room-header">Chat Room Demo</div>
         <div class="panel-body room-content">
             <div class="messages" auto-scroll-to-bottom>
                 <div class="list-group" ng-repeat="message in messages">
                    <img ng-src="{{message.creator.avatarUrl}}" title="{{message.creator.name}}" class="img-rounded">
                 {{message.creator.name}}: {{message.message}}
                 </div>
             </div>
             <form ng-controller="MessageCreateCtrl">
                 <div class="form-group">
                     <textarea class="form-control message-input" required placeholder="ctrl enter to send message" ng-model="newMessage" ctrl-enter-break-line="createMessage()"></textarea>
                 </div>
             </form>
         </div>
     </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default user-list">
        <div class="panel-heading user-list-header">
            在线用户
        </div>
    </div>
</div>